<p id="notice"><%= notice %></p>

<div class="event-list">
  <h2>Events hosted by <%= @user.username %>:</h2>
  <% @user.events.each do |event| %>
    <h3><%= event.title %></h3>
    Date:        <%= event.date %><br>
    Location:    <%= event.location %><br>
    Description: <%= event.description %><br>
    <%= link_to "test", event_path((event.id)) %>
  <% end %>

  <h2> Upcoming Eventings attending</h2>
    <% @upcoming_events.each do |event| %>
      <h3><%= event.title %></h3>
    <% end %>

  <h2>Previously Events attended:</h2>
    <% @past_events.each do |event| %>
      <h3><%= event.title %></h3>
    <% end %>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
