<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% if @event.errors.any? %>
    <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <div class="inputs">
    <div class="control">
      <%= f.input :title,
                  wrapper: false,
                  autofocus: true
                  %>
      <%= f.input :location,
                  wrapper: false,
                  autofocus: true
                  %>
      <%= f.input :date,
                  wrapper: false,
                  autofocus: true
                  %>
      Please enter the date in format: Month day,year
      <%= f.input :description,
                  wrapper: false,
                  autofocus: true
                  %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
