<p id="notice"><%= notice %></p>
<% flash.each do |msg| %>
  <%= msg %>
<% end %>
<main>
  <section id="Header">
    <h1 id="webName">Private Event!</h1>
    <h2 id="sub">You're invited!</h2>
  </section>

  <section class="event-info">
  <h1><%= @event.title %></h1>
    <table>
      <tr>
        <td>Event Host:</td>
        <td><%= User.find_by(id: @event.creator_id).username %></td>
      </tr>
      <tr>
        <td>Date:</td>
        <td><%= @event.date %></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td><%= @event.location %></td>
      </tr>
    </table>
    <% if logged_in? %>
      <% if @event.creator_id == current_user.id %>
        <%= link_to 'Edit Event', edit_event_path(@event) %>
      <% end %>
    <% end %>
  </section>
  <section class="description">
    <h2>Description:</h2>
    <p><%= @event.description %><p>
  </section>

  <Section class="attendee-info">
    <h2> Users attending this event:</h2>
    <% @event.attendees.each do |user| %>
      <p><%= user.username %></p>
    <% end %>

    <% if logged_in? && @event.date.to_date > Date.current %>
      <%= form_with(url: "/invitations", method: "post") do %>
        <%= hidden_field_tag(:user_id, current_user.id) %>
        <%= hidden_field_tag(:event_id, @event.id) %>
        <%= submit_tag("Sign up!") %>
      <% end %>
    <% end %>
  </section>
</main>
