<p id="notice"><%= notice %></p>

<h1><%= @event.title %></h1>
Event Host: <%= User.find_by(id: @event.creator_id).username %><br>
Date:       <%= @event.date %><br>
Location:   <%= @event.location %><br>
Description:<%= @event.description%><br>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
