<!DOCTYPE html>
<html>
  <head>
    <title>PE2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="menu-wrap">
      <input type="checkbox" class="toggler">
      <div class="hamburger">
        <div>
        </div>
      </div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <% if logged_in? %>
                <li><%= current_user.username %></li>
                <li><%= link_to "Log out", logout_path, method: :delete %></li>
                <li><%= link_to "Make an event!", new_event_path %></li>
              <% else %>
                <li><%= link_to "Login", new_session_path%></li>
                <li><%= link_to "Sign up!", new_user_path%></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
